*.c text eol=crlf
*.h text eol=crlf
*.s text eol=crlf
*.S text eol=crlf
*.prj text eol=crlf
*.rsh text eol=crlf
*.rh text eol=crlf
*.inc text eol=crlf
*.icn text eol=crlf
*.icm text eol=crlf
*.i text eol=crlf
*.bat text eol=crlf
*.inf text eol=crlf
*.txt text eol=crlf
*.TXT text eol=crlf
*.bgh text eol=crlf
*.hlp text eol=crlf
